<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click a picture</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--index.css-->
    <link rel="stylesheet" href="/static/index.css">
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
    <div class="background">
        <div class="container">
            <div id="title">
                <p>Sign Language Detection</p>
            </div>
            <div class="main">
                <video id="webCam" autoplay playsinline width="300px" height="300px"></video>
                <canvas id="canvas"></canvas>
                <div class="buttons">
                    <div class="snap form-group">
                        <button id="takePhoto" class="btn btn-success" download onclick="takeAPicture()">Take
                            Photo</button>
                    </div>
                    <div class="clear form-group">
                        <button id="clearcanvas" class="btn btn-primary" download onclick="clearCanvas()">Clear</button>
                    </div>
                   <!-- // <a href="output.html"> -->
                    <!-- <div class="clear form-group">
                        <button id="clearcanvas" class="btn btn-primary" download onclick="clearCanvas()">Submit</button>
                    </div></a> -->

                </div>
                <img src="" id="snap"/>
                <div id="output"></div>
            </div>
        </div>
    </div>

    <script src="/static/index.js">
        
    </script>

</body>

</html>
