<!DOCTYPE html>
<html>
  <title>Instructions</title>
<head>
<style>
  body{
    /* background-color: lightblue; */
    background: linear-gradient(to right, lightskyblue, lightgreen);
  }
h3 {
  background-color: orange;
  text-align: center;
  font-size: 50px;
  border-radius: 10px;
}

button{
  align-items: center;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}

p {
  font-size: 30px;
}
li{
    font-size:30px;
}
</style>
</head>

<body>
<h3 >Learn how to use our sign language detector</h2>
  <ul>
      <li>Make sure you are standing in front of the camera</li>
      <li>Make sure there is enough lighting</li>
      <li>You are now set to go.</li>
    <li>Show a sign properly and take a photo.</li>
<li>If you are not statisfied with the picture taken, you can clear it and retake the picture</li>
<li>The application will now detect your sign and gives the text corresponding to the sign.</li>  </ul>
<form align='center'>
  <a href="index.html">
     <button type="button">
          Click a picture
      </button> 
     </a>
   
   </body>
</html> 
