<!DOCTYPE html>
<html>
  <title>Welcome</title>
<head>
<style>
  body{
    /* background-color: lightblue; */
    background: linear-gradient(to right, lightskyblue, lightgreen);
  }
h4 {
  background-color: orange;
  text-align: center;
  font-size: 50px;
  border-radius: 10px;
  top:180%;
  
}
.center{
    border:5px;
    text-align: center;
    padding: 100px;
}
button{
  align-items: center;
  border-radius: 5px;
  font-size: large;
  
  font-weight: bold;
}

p {
  font-size: 30px;
}
</style>
</head>

<body>
<h4 class="center">Sign Language Detection</h4>
  
<form align='center'>
  <a href="vamshi.html">
     <button type="button">
          Get Started
      </button> 
     </a>
   
   </body>
</html> 
