<!DOCTYPE html>
<html>
  <title>Login Page</title>
<head>
<style>
  body{
    /* background-color: lightblue; */
    background: linear-gradient(to right, lightskyblue, lightgreen);
  }
h2 {
  background-color: orange;
  text-align: center;
  font-size: 50px;
  border-radius: 10px;
}

button{
  align-items: center;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}

p {
  font-size: 30px;
  padding:80px;
}
</style>
</head>

<body>
<h2>About</h2>
  <p>
    Sign language is the only tool of communication for the person who is not able to
    speak and hear anything. Sign language is a boon for the physically challenged people
    to express their thoughts and emotion. In this work, a novel scheme of sign language
    recognition has been proposed for identifying the alphabets and gestures in sign
    language. With the help of computer vision and neural networks we can detect the
    signs and give the respective text output.
  </p>
<form align='center'>
  <a href="instructions.html">
     <button type="button">
          Get Started
      </button> 
     </a>
   
   </body>
</html> 
