<!DOCTYPE html>
<html>
  <title>Ouptut</title>
<head>
<style>
  body{
    /* background-color: lightblue; */
    background: linear-gradient(to right, lightskyblue, lightgreen);
  }
h3 {
  background-color: orange;
  text-align: center;
  font-size: 50px;
  border-radius: 10px;
}

button{
  align-items: center;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}

p {
  font-size: 30px;
}
li{
    font-size:30px;
}
.box{
    width: 100%;
    padding: 12px 20px;
    margin: 9px 0;
    box-sizing:  border-box;
}
</style>
</head>

<body>
<h3 >Here is what the sign means</h3>
<input class="box">
<form align='center'>
  <a href="index.html">
     <button type="button">
          Go Back
      </button> 
     </a>
   
   </body>
</html> 
